<div class="m-4">
  <h1 class="mb-2">Stupid Coaching</h1>
  <div class="px-3 my-4 border-start border-4">
    <p class="fs-6 my-1"><%= params[:question].capitalize %></p>
    <p class="fst-italic fw-lighter fs-6 my-1">-You</p>
  </div>

  <div id="answer-div" class="px-3 my-4 border-start border-4">
    <p class="fs-6 my-1 fw-bold"><%= @answer %></p>
    <p class="fst-italic fw-lighter fs-6 my-1">-Your coach</p>
  </div>

  <p id="link">
    <%=link_to "Ask a new question", ask_path, :style=> 'text-decoration:none;' %>
  </p>

</div>
