<div class="m-4">
  <h1 > Stupid Coaching </h1>

  <p class="fw-light my-1" >Ask your coach anything:</p>
  <form action="/answer" data-turbo="false">
    <div class="input-group mb-4">
      <input class="form-control form-control-lg input-group-append" type="text" name="question">
      <input class="btn btn-primary height:100% fw-bold" type="submit" value="Ask!">
    </div>
  </form>
</div>
